html{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:dimgrey;
}
body{
    padding:0 1rem;
    
}


h1
 {height: 1em;
    font-size: 2em;
    color: gold;
  

}

#beginning{

    font-size: 90%;
    
  
}

img{
    height: 20vh;
    width:30vw ;
    
}
.footer{
    padding-top: 2em;
    border-top: solid 3px;
    float: left;
}

h2{
    color: darkorange;
}
#middle{
    float: left;
}